*{
	margin:0px;
	padding:0px;
}

body {
	background: #F3F3F3;
}

ul li {
	list-style: none;
}
 /*#top1 a:link {*/
	/*color: rgb(255,255,255);*/
	/*text-decoration: none;*/
/*}*/

#top1 a:visited {
	/*color: rgb(255,255,255);*/
	text-decoration: none;
}


/*顶部*/

#bac {
	width: 100%;
	position: relative;
	bottom: 180px;
}

#top1 {
	width: 100%;
	height: 50px;
	background: rgb(128, 0, 0);
	z-index: 2;
	/*   color:#FFFFFF;*/
}

#top1 span  a{
	float:right;
	cursor: pointer;
	color: #FFFFFF;
}

#top1_login{
	margin-right:30px;
	margin-top:8px
}

#top1_register{
	margin-right:30px;
	margin-top:8px
}

#top1_data{
	margin-left: 120px;
	margin-right:30px;
	margin-top:-17px;
	cursor: pointer;
	color: #FFFFFF;
}

#top1_data ul{
	margin-right:30px;
	cursor: pointer;
	color: #FFFFFF;
}


#top1 nav ul li{position:relative;}
#top1 nav ul ul li{background-color:rgb(139, 0, 0);
	               width: 100px;
	               font-size: 18px}
#top1 nav ul ul li a{border-left:1px solid black;
	                 border-right:1px solid black;
	                 border-bottom:1px solid black;}
#top1 nav ul ul{visibility:hidden;
	            position:relative;
	            left:-40.5px;}
/*#top1 nav ul li:hover ul{visibility:visible;*/
	                      /*z-index:100;}*/
.Datacontainer ul a{display:inline-block;
	                width:60px;
	                font-size:20px;}

#logo {
	height: 80px;
	width: 300px;
	position: relative;
	top: 30px;
	left: 80px;
}

#title {
	color: rgb(255, 255, 255);
	font-family: "微软雅黑";
	font-size: 35px;
	position: relative;
	left: 96px;
	top: 10px;
}

#title_blog{
	color: rgb(255, 255, 255);
	font-family: "微软雅黑";
	font-size: 35px;
	position: relative;
	left: 96px;
	top: 35px;
}

#top {
	height: 200px;
	background: rgb(139, 0, 0);
	//background: -webkit-linear-gradient(rgba( 	0,0,205,0.8),rgba(0,0,139,0.8),rgba( 	0,0,128,0.8)); /* Safari 5.1 - 6.0 */
	//background: -o-linear-gradientrgba(rgba(  	0,0,205,0.8),rgba(0,0,139,0.8),rgba ( 	0,0,128,0.8)); /* Opera 11.1 - 12.0 */
	//background: -moz-linear-gradient(rgba( 	0,0,205,0.8),rgba(0,0,139,0.8),rgba(  	 	0,0,128,0.8)); /* Firefox 3.6 - 15 */
}


/*#top1 span{
	color: rgb(112,128,144); 	
}*/


/*导航栏*/

.hl_nav {
	background-color: rgb(139, 0, 0);
	position: relative;
	color: #ffffff;
	min-width: 1200px;
	height: 50px;
	border:1px solid rgb(128, 0, 0);
}

.hl_nav a {
	display: block;
	text-decoration: none;
}

.hl_nav .shade {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 50px;
	left: 0;
	z-index: 1;
	background-color: rgb(6, 12, 135);
	opacity: 0.9;
	filter: alpha(opacity=90);
	box-shadow: 0 5px 15px #CCCCCC;
	display: none;
	border-bottom: #ffffff solid 1px;
	border-bottom: rgba(255, 255, 255, 0.3) solid 1px;
}

.hl_nav .nav_list {
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -600px;
	z-index: 2;
	padding: 0;
	list-style: none;
	width: 1200px;
	height: 50px;
}

.hl_nav .nav_list>li {
	padding: 0;
	float: left;
	margin: 0;
	width: 15%;
	text-align: center;
	height: 50px;
	overflow: hidden;
	transition: height 0.3s;
}

.hl_nav .nav_head {
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	font-size: 16px;
	position: relative;
}

.hl_nav .nav_body {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #666666;
	position: relative;
	border-left: rgb(128, 0, 0) solid 2px;
	border-right: rgb(128, 0, 0) solid 2px;
}

.hl_nav .nav_body:last-child {
	border-bottom: rgb(128, 0, 0) solid 2px;
}

/*.hl_nav .nav_list>li.active .nav_head,*/
.hl_nav .nav_list>li:hover .nav_head {
	background-color: 	#FF7F24;
}

.hl_nav .nav_list>li.active .nav_head{
	background-color: 	#FF7F24;
}

.hl_nav .nav_list>li:hover {
	background-color: #ffffff;
	height: auto;
}

.hl_nav .nav_body:hover {
	color: rgb(128, 0, 0);
}

.hl_nav .nav_body:after {
	content: '';
	display: block;
	height: 0;
	position: absolute;
	bottom: -1px;
	width: 60%;
	left: 20%;
	border-bottom: rgb(128, 0, 0) dashed 1px;
}

/*人物栏设置*/
.nav_left{
	height: 53px;
	margin-top: -5px;
}

.txtArr{
	display: block;
	width: 70px;
	height: 50px;
	margin: 2px 0 0 6px;
	color: #708caf;
	text-decoration: none;
	cursor: pointer;
}
.txtArr img{
	width: 40px;
	height: 40px;
	margin: 2px 0 0 2px;
	border-radius: 2px;
}

.headListPlugin{
	position:absolute;
	right:18px;
	top:60px;
	border-collapse:collapse;
	z-index: 999;
}

.popBox{
	outline: 0 none;
	cursor:default;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	display: none;
}

.profileTitle{
	width: 220px;
	height:56px;
	padding:8px 10px 0;
	background: #f7f7f7;
	border-bottom: 1px solid #e9e9e9;
	border-radius: 4px 4px 0px 0px;
}

.profileTitle a{
	cursor: pointer;
	text-decoration: none;
}

.profileTitle p.headPic{
	width:48px;
	height:48px;
	margin:0 10px 0 20px;
	float:left;
}

.profileTitle p.headPic img{
	width:48px;
	height:48px;
	border-radius: 4px;
}

.profileTitle div.intro{
	height:48px;
	float:left;
	color:#666;
	margin-left: 70px;
	margin-top: -40px;
}

.profileTitle div.intro p{
	color: #666;
	margin: 0px 0 5px;
}

.profileTitle div.intro b.yourName{
	display: inline-block;
    width:140px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: -10px;
 }

.profileTitle div.intro p b{
	color: #666;
	font-size:13px;
}

.profileTitle div.intro p b.icon{
	width:12px;
	height:12px;
	display: inline-block;
	margin:0 0 0 8px;
}

.profileTitle div.intro p.wid{
	width: 160px;
	font-family: "宋体";
	color: #666;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: -10px;
}

ul.lm{
	font-size: 12px;
	background: #fff;
	margin: 6px 0 5px 0;
}

ul.lm li a{
	width:206px;
	display:block;
	padding:6px 8px 8px 22px;
	color:#666;
}

ul.lm li{
	font-size: 12px;
	background:#fff;
	margin:2px 0;
}

#box{
	width: 300px;
	/*margin: 90px 50px 60px 50px ;*/
	font-family: 'Microsoft YaHei';
	font-size: 14px;
	float: right;
	position:relative;
	height: 50px;
	top:50px;
	right:30px;
}
.search{
	width: 200px;
	border: 1px solid #e2e2e2;
	height: 30px;
	float: left;
	/*background-image: url(images/search.jpg);*/
	background-repeat: no-repeat;
	background-size: 25px;
	background-position:5px center;
	padding:0 0 0 40px;
}
#search{
	width: 78px;
	height: 32px;
	float: left;
	background: black;
	color: white;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
}

.right_padding{
	padding-left: 40px;
}