/* CSS Document */
#top2 a:link {
	color: rgb(255,255,255);
	text-decoration: none;
}

#top2 a:visited {
	color: rgb(255,255,255);
	text-decoration: none;
}
#top2 {
	width: 100%;
	height: 35px;
	background: rgb(128, 0, 0);
	z-index: 2;
	/*   color:#FFFFFF;*/
}

#top2 span {
	position: relative;
	left: 1050px;
	top: 8px;
	cursor: pointer;
	color: #FFFFFF;
}

/*菜单栏*/
#zi{
width:17%;
float:left;
height:1000px;
}
#zi1{
width:96%;
margin-left:10px;
margin-top:60px;
border:1px solid #C5C1AA;
}
.zi1_1 {
height:84px;
border-bottom-color:#000000;
border-bottom-style:solid;
border-bottom-width:thin;
padding-left:20px;
display: flex;
font-size:24px;
/*text-align: center;*/
}

#pic1{
width:30px;
height:30px;
/*vertical-align:middle;*/
margin-top:29px;
}
.zi1_1 span{
line-height:84px;
}
.zi1_2{
height:70px;
border-bottom-color:#E8E8E8;
border-bottom-style:solid;
border-bottom-width:thin;
padding:0px;
display: flex;
text-align: center;
font-size:20px;
cursor:pointer;
}
.zi1_2:hover {
color: #FFFFFF;
background: #C2C2C2;
}
.start{
cursor: pointer;
color:#000000;
background-color:#F3F3F3;
}
.end{
cursor: pointer;
color: #FFFFFF;
background: #C2C2C2;
 }
.zi1_2{
-webkit-transition: all 0.2s linear;  
-moz-transition: all 0.2s linear;  
-ms-transition: all 0.2s linear;  
-o-transition: all 0.2s linear;  
transition: all 0.2s linear; 
}

.zi1_2 span, .zi1_3 span, .zi1_4 span, .zi1_5 span , .zi1_2 a{
margin: auto;
}
/*我的资料*/
#zi2 {
width:80%;
float:left;
margin-left:10px;
margin-top:5px;
font: 12px/1.5 tahoma,arial,"Hiragino Sans GB";
}
#zi2_1{
height:600px;
background-color:#FFFFFF;
margin:60px 5px 60px 5px;
}
#zi2_1_1{
height:84px;
border-bottom:solid thin #E8E8E8;
margin-right:30px;
margin-left:30px;
font-size:21px;
}
#zi2_1_1 span{
line-height:84px;
}
#zi2_1_2{
margin-top:17px;
}
#zi2_1_2_top{
height:170px;
}
.photo{
float:left;
padding-left:120px;
width:50%;
}
.ge_photo{
opacity:0; 
filter:alpha(opacity=0);
height: 150px; 
width: 150px; 
position:absolute;
top: 0;
left: 0;
z-index: 9;
}
#xg2{
font-size:16px;
margin-left:180px;
margin-top:67px;
width:150px;
height:30px;
line-height:30px;
text-align:center;
background-color: #F3F3F3;
cursor:pointer;
border-radius: 3px;
}
#xg3{
font-size:16px;
margin-left:180px;
margin-top:20px;
width:150px;
height:30px;
line-height:30px;
text-align:center;
background-color: #F3F3F3;
cursor:pointer;
border-radius: 3px;
}
#xg2:hover,#xg3:hover{
background-color:#00bbee;
color:#FFFFFF;
transition: all 0.2s linear; 
}
.photo_right{
float:left;
width:48%;
line-height:170px;
text-align:center;
font-size:18px;
}
#zi2_1_2_middle{
background-color:#FFFFFF
}
.ka1, .ka2{
width:33%;
}
.ka3{
width:33%;
}
.ka1, .ka2, .ka3{
float: left;
height:240px;
border-top: 1px solid #eeefef;
border-left: 1px solid #eeefef;
border-bottom: 1px solid #eeefef;
box-sizing: border-box;
}
.ka1_wrapper,.ka2_wrapper,.ka3_wrapper{
margin: 16px 17px 16px 40px;
padding: 0;
box-sizing: border-box;
}
.ka1_top,.ka2_top,.ka3_top{
font-size: 17px;
padding-bottom: 6px;
/*position: relative;*/
box-sizing: border-box;
}
.ka1_line,.ka2_line,.ka3_line{
font-size: 15px;
color: rgba(0,0,0,.65);
}
.ka1_line{
height:25px;
margin-top:10px}
.ka2_line{
height:40px;
margin-top: 10px}
.ka3_line{
height:40px;
margin-top: 12px}
.two{
letter-spacing:2em;
}
.three{
letter-spacing:0.5em;
}
.two,.three,.four{
width:100px;}
.ka1_line{
clear:both}
.two,.three,.four{
float:left
}
.ka1_input{
float:left
}
.ka1_line>select{
width:60px;
}
.ka2_line>input, .ka3_line>input{
margin-left:15px;
}
.ka1_input>select{
width:60px;
}
.ka2_line>select{
margin-left:15px;
width:140px;
}
.ka3_line>select{
margin-left:15px;
width:60px;
}
input{
border-radius: 3px;
/*opacity:0.5;*/
}
input:focus {
outline: none;
border-color: #9ecaed;
box-shadow: 0 0 13px #9ecaed;
}
#zi2_1_2_bottom{
width:60%;
margin:auto
}
#zi2_1_2_bottom_left,#zi2_1_2_bottom_right{
padding-top:20px;
width:50%;
float:left
}
#btn1,#btn2{
width:100px;
height:40px;
line-height:40px;
text-align:center;
font-size:15px;
margin:auto;
border-radius: 4px;
background-color:#F3F3F3;
cursor:pointer;
}
#btn1:hover,#btn2:hover{
/*background-color:#f5bc04;
*/
color:#FFFFFF;
background-color:#00bbee ;
transition: all 0.2s linear; 
}



/*我的行程*/
#zi3 {
width:80%;
float:left;
display:none;
margin-left:10px;
margin-top:5px;
font: 12px/1.5 tahoma,arial,"Hiragino Sans GB",宋体;
}
#zi3_1{
height:600px;
background-color:#FFFFFF;
margin:60px 5px 60px 5px;
}
#zi3_1_1{
height:80px;
border-bottom:solid thin #E8E8E8;
margin-right:30px;
margin-left:30px;
font-size:20px;
}
#zi3_1_1 span{
line-height:80px;
}
#zi3_1_2{
margin-left:115px;
margin-right:30px;
margin-top:40px;

}
.xing tr th{
height:50px;
line-height:50px;
font-size:15px;
font-weight:400;
text-align:left
}



/*我的捐赠*/
#zi4 {
width:80%;
float:left;
display:none;
margin-left:10px;
margin-top:5px;
font: 12px/1.5 tahoma,arial,"Hiragino Sans GB",宋体;
}
#zi4_1{
height:600px;
background-color:#FFFFFF;
margin:60px 5px 60px 5px;
}
#zi4_1_1{
height:80px;
border-bottom:solid thin #E8E8E8;
margin-right:30px;
margin-left:30px;
font-size:20px;
}
#zi4_1_1 span{
line-height:80px;
}
#zi4_1_2{
margin-left:115px;
margin-right:30px;
margin-top:40px;
}
.juan tr th{
height:50px;
line-height:50px;
font-size:15px;
font-weight:400;
text-align:left
}


input[disabled],select[disabled]
{color:black;opacity:1}




