<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input id="username" readonly="readonly">
<input id="password" readonly="readonly">
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">
    //获取basePath，测试的话就能用就完了
    var obj = window.document.location;
    var BASE_PATH = obj.href.substring(0, obj.href.indexOf(obj.pathname));
    //请求渲染模拟
    $.ajax({
        url: BASE_PATH + "/list",
        type: "post",
        success: function f(data) {
            $("#username").val(data.username);
            $("#password").val(data.password);
        }
    })
</script>
</html>
