<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="all,follow"/>

    <title>湘潭大学公共管理学院校友会</title>
    <link rel="shortcut icon" href="static/static/system/img/favicon.ico"/>
    
    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"/>
    <link rel="stylesheet" href="static/static/system/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/static/system/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="static/static/system/css/font-icon-style.css"/>
    <link rel="stylesheet" href="static/static/system/css/style.default.css" id="theme-stylesheet"/>

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="static/static/system/css/form.css"/>

    <link rel="stylesheet" href="static/static/system/css/checkbox.css"/>


</head>

<body>
    
<!--====================================================
                     MAIN NAVBAR
======================================================-->
    <header class="header">
        <nav class="navbar navbar-expand-lg ">
            <div class="search-box">
                <button class="dismiss"><i class="icon-close"></i></button>
                <form id="searchForm" action="#" role="search">
                    <input type="search" placeholder="Search Now" class="form-control"/>
                </form>
            </div>
            <div class="container-fluid ">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header">
                        <a href="index.html" class="navbar-brand">
                            <div class="brand-text brand-big hidden-lg-down"><img src="static/static/system/img/logo-white.png" alt="Logo" class="img-fluid"/></div>
                            <div class="brand-text brand-small"><img src="static/static/system/img/logo-icon.png" alt="Logo" class="img-fluid"/></div>
                        </a>
                        <a id="toggle-btn" href="#" class="menu-btn active">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
                <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                    <!-- Expand-->
                    <li class="nav-item d-flex align-items-center full_scr_exp"><a class="nav-link" href="#"><img src="static/static/system/img/expand.png" onclick="toggleFullScreen(document.body)" class="img-fluid" alt=""/></a></li>
                    <!-- Search-->
                    <li class="nav-item d-flex align-items-center"><a id="search" class="nav-link" href="#"><i class="icon-search"></i></a></li>
                    <!-- Notifications-->
                    <li class="nav-item dropdown"> 
                        <a id="notifications" class="nav-link" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell-o"></i><span class="noti-numb-bg"></span><span class="badge">12</span></a>
                        <ul aria-labelledby="notifications" class="dropdown-menu">
                            <li>
                                <a rel="nofollow" href="#" class="dropdown-item nav-link">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-envelope bg-red"></i>You have 6 new messages </div>
                                        <div class="notification-time"><small>4 minutes ago</small></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" href="#" class="dropdown-item nav-link">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-twitter bg-skyblue"></i>You have 2 followers</div>
                                        <div class="notification-time"><small>4 minutes ago</small></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" href="#" class="dropdown-item nav-link">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-upload bg-blue"></i>Server Rebooted</div>
                                        <div class="notification-time"><small>4 minutes ago</small></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" href="#" class="dropdown-item nav-link">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-twitter bg-skyblue"></i>You have 2 followers</div>
                                        <div class="notification-time"><small>10 minutes ago</small></div>
                                    </div>
                                </a>
                            </li>
                            <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>view all notifications                                            </strong></a></li>
                        </ul>
                    </li>
                    <!-- Messages                        -->
                    <li class="nav-item dropdown"> <a id="messages" class="nav-link logout" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope-o"></i><span class="noti-numb-bg"></span><span class="badge">10</span></a>
                        <ul aria-labelledby="messages" class="dropdown-menu">
                            <li>
                                <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                    <div class="msg-profile"> <img src="static/static/system/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                                    <div class="msg-body">
                                        <h3 class="h5 msg-nav-h3">Jason Doe</h3><span>Sent You Message</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                    <div class="msg-profile"> <img src="static/static/system/img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                                    <div class="msg-body">
                                        <h3 class="h5 msg-nav-h3">Frank Williams</h3><span>Sent You Message</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                    <div class="msg-profile"> <img src="static/static/system/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                                    <div class="msg-body">
                                        <h3 class="h5 msg-nav-h3">Ashley Wood</h3><span>Sent You Message</span>
                                    </div>
                                </a>
                            </li>
                            <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>Read all messages    </strong></a></li>
                        </ul>
                    </li> 
                    <li class="nav-item dropdown"><a id="profile" class="nav-link logout" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="static/static/system/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle" style="height: 30px; width: 30px;"/></a>
                        <ul aria-labelledby="profile" class="dropdown-menu profile">
                            <li>
                                <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                    <div class="msg-profile"> <img src="static/static/system/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                                    <div class="msg-body">
                                        <h3 class="h5">Steena Ben</h3><span>steenaben@Businessbox.com</span>
                                    </div>
                                </a>
                                <hr/>
                            </li>
                            <li>
                                <a rel="nofollow" href="profile.html" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-user "></i>My Profile</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" href="profile.html" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-envelope-o"></i>Inbox</div> 
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" href="profile.html" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-cog"></i>Setting</div>
                                    </div>
                                </a>
                                <hr/>
                            </li>
                            <li>
                                <a rel="nofollow" href="profile.html" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-power-off"></i>Logout</div>
                                    </div>
                                </a> 
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item d-flex align-items-center"><a id="menu-toggle-right" class="nav-link" href="#"><i class="fa fa-bars"></i></a></li>
                    <nav id="sidebar-wrapper">
                      <div class="sidebar-nav"> 
                        <div class="tab" role="tabpanel"> 
                            <ul class="nav nav-tabs" role="tablist">
                              <li class="nav-item ">
                                <a class="nav-link active" href="#live" role="tab" data-toggle="tab"><i class="fa fa-globe"></i> Live</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#trend" role="tab" data-toggle="tab"><i class="fa fa-rocket"></i> Trending</a>
                              </li> 
                            </ul> 
                            <div class="tab-content tabs">
                              <div role="tabpanel" class="tab-pane fade show active" id="live">
                                <h3>Connect Live</h3>
                                <div class="content newsf-list">
                                    <ul class="list-unstyled">
                                        <li class="border border-primary">
                                            <a rel="nofollow " href="#" class=" d-flex">
                                                <div class="news-f-img"> <img src="static/static/system/img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">New Innovation world</h6>
                                                    <small>Tech soft is great innovation for...</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="border border-success">
                                            <a rel="nofollow" href="#" class=" d-flex">
                                                <div class="news-f-img"> <img src="static/static/system/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Modified hand-cart</h6>
                                                    <small>The idea is to incorporate easy...</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="border border-info">
                                            <a rel="nofollow" href="#" class=" d-flex">
                                                <div class="news-f-img"> <img src="static/static/system/img/avatar-4.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                    <small>A dot matrix printer modified at...</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="border border-primary">
                                            <a rel="nofollow" href="#" class=" d-flex">
                                                <div class="news-f-img"> <img src="static/static/system/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                    <small>A dot matrix printer modified at...</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="border border-success">
                                            <a rel="nofollow" href="#" class=" d-flex">
                                                <div class="news-f-img"> <img src="static/static/system/img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                    <small>A dot matrix printer modified at...</small>
                                                </div>
                                            </a>
                                        </li> 
                                        <li class="border border-info">
                                            <a rel="nofollow" href="#" class=" d-flex">
                                                <div class="news-f-img"> <img src="static/static/system/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                    <small>A dot matrix printer modified at...</small>
                                                </div>
                                            </a>
                                        </li> 
                                    </ul>
                                </div>
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="trend">
                                <div class="card card-c2" style="box-shadow: 0 0 0;">
                                    <div class="header">
                                        <h3 class="title">Trending Items</h3>
                                        <p class="">Last Campaign Performance</p>
                                    </div>
                                    <div class="content">
                                        <canvas class="ct-chart" id="myChart-nav" height="250"></canvas>
                                        <div class="footer">
                                            <div class="legend">
                                                <i class="fa fa-circle text-info"></i> Open
                                                <i class="fa fa-circle text-danger"></i> Bounce
                                                <i class="fa fa-circle text-warning"></i> Unsubscribe
                                            </div>
                                            <hr/>
                                            <div class="stats">
                                                <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                           </div>
                      </div>
                      </div>
                    </nav>
                </ul> 
            </div>
        </nav>
    </header>

<!--====================================================
                    PAGE CONTENT
======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        <nav class="side-navbar">
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="static/static/img/touxaing.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                <div class="title">
                    <h1 class="h4">无用户</h1>
                </div>
            </div>
            <hr/>
            <!-- Sidebar Navidation Menus-->
            <ul class="list-unstyled">
                <li > <a href="/sysindex"><i></i>首页</a></li>
                <li><a href="#apps" aria-expanded="false" data-toggle="collapse"> <i></i>APP</a>
                    <ul id="apps" class="collapse list-unstyled">
                        <li><a href="sysmedia.html">设备</a></li>
                    </ul>
                </li>
                <li> <a href="syschart.html"> <i></i>统计图表</a></li>
                <li class="active"><a href="sysbasic-form.html" aria-expanded="false" data-toggle="collapse" > <i></i>新闻编辑</a>
                </li>
                <li><a href="#pages" aria-expanded="false" data-toggle="collapse"> <i></i>登陆信息</a>
                    <ul id="pages" class="collapse list-unstyled">
                        <li><a href="syslogin.html">登陆</a></li>
                        <li><a href="sysregister.html">注册</a></li>
                    </ul>
                </li>
                <li> <a href="systables.html"> <i></i>校友信息</a></li>
            </ul>
        </nav>

        <div class="content-inner form-cont">
            <div class="row">
                <div class="col-md-12">

                    <!--***** BASIC FORM *****-->
                    <div class="card form" id="form1">
                        <div class="card-header" style="color: black">
                            <h3>新闻编辑</h3>
                        </div>
                        <br/>
                        <form action="../news/fileUpload" method="POST" enctype="multipart/form-data" target="nm_iframe" id = "form_target">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">新闻标题</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="请填写新闻标题" name = "new_title"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">标签选择</label>
                                        <br/>
                                        <div class="cb-container">
                                            <input type="checkbox" id="checkbox1" name = "stage" value="教学"/>
                                            <label for="checkbox1" class="cb-label"></label>
                                            <p style = "color:black;margin-left:7px;margin-top:8px">教学</p>
                                             &nbsp;
                                            <input type="checkbox" id="checkbox2" name = "stage" value="会议"/>
                                            <label for="checkbox2" class="cb-label"></label>
                                            <p style = "color:black;margin-left:7px;margin-top:8px">会议</p>
                                            &nbsp;
                                            <input type="checkbox" id="checkbox3" name = "stage" value="竞赛"/>
                                            <label for="checkbox3" class="cb-label"></label>
                                            <p style = "color:black;margin-left:7px;margin-top:8px">竞赛</p>
                                            &nbsp;
                                            <input type="checkbox" id="checkbox4" name = "stage" value="论文"/>
                                            <label for="checkbox4" class="cb-label"></label>
                                            <p style = "color:black;margin-left:7px;margin-top:8px">论文</p>
                                            &nbsp;
                                            <input type="checkbox" id="checkbox5" name = "stage" value="荣誉"/>
                                            <label for="checkbox5" class="cb-label"></label>
                                            <p style = "color:black;margin-left:7px;margin-top:8px">荣誉</p>
                                        </div>
                                        <div class="cb-container">
                                            <input type="checkbox" id="checkbox6" name = "stage" value="通知"/>
                                            <label for="checkbox6" class="cb-label"></label>
                                            <p style = "color:black;margin-left:7px;margin-top:8px">通知</p>
                                            &nbsp;
                                            <input type="checkbox" id="checkbox7" name = "stage" value="公告"/>
                                            <label for="checkbox7" class="cb-label"></label>
                                            <p style = "color:black;margin-left:7px;margin-top:8px">公告</p>
                                            &nbsp;
                                            <input type="checkbox" id="checkbox8" name = "stage" value="讲座"/>
                                            <label for="checkbox8" class="cb-label"></label>
                                            <p style = "color:black;margin-left:7px;margin-top:8px">讲座</p>
                                            &nbsp;
                                            <input type="checkbox" id="checkbox9" name = "stage" value="专利"/>
                                            <label for="checkbox9" class="cb-label"></label>
                                            <p style = "color:black;margin-left:7px;margin-top:8px">专利</p>
                                            &nbsp;
                                            <input type="checkbox" id="checkbox10" name = "stage" value="活动"/>
                                            <label for="checkbox10" class="cb-label"></label>
                                            <p style = "color:black;margin-left:7px;margin-top:8px">活动</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleSelect1">新闻类别</label>
                                        <select class="form-control" id="exampleSelect1" name="new_type" >
                                            <option value="学院新闻">学院新闻</option>
                                            <option value="校友新闻">校友新闻</option>
                                            <option value="通知公告">通知公告</option>
                                            <option value="校友卡">校友卡</option>
                                            <option value="校友返校活动">校友返校活动</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleTextarea" >新闻内容</label>
                                        <textarea class="form-control" id="exampleTextarea" rows="3" name = "new_content"></textarea>
                                    </div>
                                    <div class="form-group">
                                            <label>图片上传</label>
                                            <img id="preview" width="600px" height="400px"/>
                                            <input type="file"  name="file" id = "file" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" onchange="imgPreview(this)" />
                                        <iframe id="id_iframe" name="nm_iframe" style="display: none"></iframe>
                                    </div>
                                 </div>
                            </div> 
                            <input type="submit" class="btn btn-general btn-blue mr-2" value="提交"/>
                            <button type="reset" class="btn btn-general btn-white">取消</button>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!--Global Javascript -->
    <script src="static/static/system/js/jquery.min.js"></script>
    <script src="static/static/system/js/popper/popper.min.js"></script>
    <script src="static/static/system/js/tether.min.js"></script>
    <script src="static/static/system/js/bootstrap.min.js"></script>
    <script src="static/static/system/js/jquery.cookie.js"></script>
    <script src="static/static/system/js/jquery.validate.min.js"></script>
    <script src="static/static/system/js/chart.min.js"></script>
    <script src="static/static/system/js/front.js"></script>
    <script src="static/static/system/js/pictureLoad.js"></script>
    
    <!--Core Javascript -->
    <script>
        new Chart(document.getElementById("myChart-nav").getContext('2d'), {
          type: 'doughnut',
          data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
              backgroundColor: [
                "#2ecc71",
                "#3498db",
                "#95a5a6",
                "#9b59b6",
                "#f1c40f",
                "#e74c3c",
                "#34495e"
              ],
              data: [12, 19, 3, 17, 28, 24, 7]
            }]
          },
          options: {
              legend: { display: false },
              title: {
                display: true,
                text: ''
               } 
            }
        });

        function imgPreview(fileDom) {
            //判断是否支持FileReader
            if(window.FileReader) {
                var reader = new FileReader();
            } else {
                alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
            }
            //获取文件
            var file = fileDom.files[0];
            var imageType = /^image\//;
            //是否是图片
            if(!imageType.test(file.type)) {
                alert("请选择图片！");
                return;
            }
            //读取完成
            reader.onload = function(e) {
                //获取图片dom
                var img = document.getElementById("preview");
                //图片路径设置为读取的图片
                img.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    </script>
</body>

</html>