<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="all,follow"/>

    <title></title>
    <link rel="shortcut icon" href="static/static/system/img/favicon.ico"/>
    
    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"/>
    <link rel="stylesheet" href="static/static/system/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/static/system/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="static/static/system/css/font-icon-style.css"/>
    <link rel="stylesheet" href="static/static/system/css/style.default.css" id="theme-stylesheet"/>

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="static/static/system/css/pages/login.css"/>
</head>

<body> 

<!--====================================================
                        PAGE CONTENT
======================================================--> 
      <section class="hero-area">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 ">
                <div class="contact-h-cont">
                  <h3 class="text-center">湘潭大学公共管理学院校友系统</h3><br/>
                    <div class="form-group">
                      <label for="username">用户名</label>
                      <input type="text" class="form-control" id="managerName" placeholder="请输入您的用户名"/>
                    </div>  
                    <div class="form-group">
                      <label for="exampleInputEmail1">密码</label>
                      <input class="form-control" type="password" placeholder="hunter2" id="managerPassword"/>
                    </div>   
                    <button class="btn btn-general btn-blue" role="button" onclick="login()"><i fa = "fa-right-arrow"></i>登录</button>
                </div>
            </div>
          </div>  
        </div>
      </section>
      
    <!--Global Javascript -->
    <script src="static/static/system/js/jquery.min.js"></script>
    <script src="static/static/system/js/tether.min.js"></script>
    <script src="static/static/system/js/bootstrap.min.js"></script>

<!--登录-->
<script src="static/static/js/system/userDetect.js" type="text/javascript"></script>
</body>

</html>